body{
    background-color: aliceblue;
}

#scroll{
    overflow: auto;
}
#output{
    overflow: auto;
    background-color: white;
}

#ed{
    color: green;
}
#l1:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l2:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l3:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l4:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l5:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l6:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l7:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l8:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l9:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l10:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l11:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l12:hover{
    background-color: rgb(105, 255, 143);
    text-decoration: none;
}
#l13:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l14:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l15:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l16:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l17:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l18:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l19:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l20:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l21:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l22:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l23:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l24:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l25:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l26:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l27:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l28:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l29:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l30:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l31:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}
#l32:hover{
    text-decoration: none;
    background-color: rgb(105, 255, 143);
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    float: right;
    text-decoration: none;
}
.myButton:hover {
    background-color:#5cbf2a;
    text-decoration: none;
}
.myButton:active {
	position:relative;
    top:1px;
    text-decoration: none;
}